@inject IJSRuntime JS


@* Componente *@
<div id="drawer-@Key" class="fixed top-0 left-0 z-[60] h-screen w-80 min-w-80 -translate-x-full overflow-y-auto bg-white/50 backdrop-blur-md transition-transform dark:bg-zinc-800/70" tabindex="-1" aria-labelledby="drawer-form-label" aria-hidden="true">

    @* Contenido *@
    <div class="flex h-full flex-col justify-between gap-4 p-4">

        @* Entradas *@
        <div class="flex h-full w-full flex-col gap-4">
            
            @* Titulo *@
            <h5 class="mb-6 inline-flex items-center text-base font-semibold text-gray-500 uppercase">
                <svg style="margin-right: 7px; margin-bottom: 1px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-square" viewBox="0 0 16 16">
                    <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6z" />
                    <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a6.953 6.953 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79c.097.324.17.658.22 1z" />
                </svg>
                Actualizar Contacto
            </h5>


            @* Botón de cerrar *@
            <button id="drawer-close-@Key" type="button" class="bg-transparent absolute top-2.5 right-2.5 inline-flex items-center rounded-full p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900">
                <svg aria-hidden="true" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close menu</span>
            </button>


            @* Entrada de nombre *@
            <div>
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Nombre
                </label>
                <input @bind="Modelo.Name" type="text" autocomplete="off" required=""
                       class="placeholder-gray-400 block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 focus:ring-1 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-sm dark:bg-zinc-900 dark:text-zinc-200 dark:border-zinc-700 dark:focus:bg-zinc-900">
            </div>


            @* Entrada de correo *@
            <div>
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Correo
                </label>
                <input @bind="Modelo.Mails[0].Email" type="text" autocomplete="off" required=""
                       class="placeholder-gray-400 block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 focus:ring-1 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-sm dark:bg-zinc-900 dark:text-zinc-200 dark:border-zinc-700 dark:focus:bg-zinc-900">
            </div>


            @* Entrada de teléfono *@
            <div class="">
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Teléfono
                </label>
                <input @bind="Modelo.Phones[0].Number" type="text" autocomplete="off" required=""
                       class="placeholder-gray-400 block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 focus:ring-1 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-sm dark:bg-zinc-900 dark:text-zinc-200 dark:border-zinc-700 dark:focus:bg-zinc-900">
            </div>


            @* Entrada de tipo *@
            <div class="">
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">
                    Tipo de contacto
                </label>
                <select @bind="ContactType" id="countries" class="placeholder-gray-400 block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-3 py-2 text-gray-900 focus:ring-1 focus:border-current-500 focus:bg-white focus:outline-none focus:ring-current-500 sm:text-sm dark:bg-zinc-900 dark:text-zinc-200 dark:border-zinc-700 dark:focus:bg-zinc-900">
                    <option value="0" selected>Ninguno</option>
                    <option value="1">Compañero de trabajo</option>
                    <option value="2">Compañero de estudio</option>
                    <option value="3">Proveedor</option>
                    <option value="4">Familiar</option>
                    <option value="5">Amigo</option>
                </select>
            </div>


        </div>

        @* Botón de actualizar *@
        <button id="update-@Key" @onclick="Update" class="mr-2 mb-2 flex w-full items-center justify-center rounded-lg bg-current-500 px-5 py-2.5 text-sm font-medium text-white hover:bg-current-700 focus:ring-4 focus:ring-current-300">
            Actualizar Contacto
        </button>

    </div>

</div>