@inject IJSRuntime JS

@using LIN.Types.Responses


<!-- drawer component -->
<div id="@_id" class="fixed bottom-0 left-0 right-0 z-50 flex w-full translate-y-full items-center justify-center overflow-y-auto transition-transform" tabindex="-1" aria-labelledby="drawer-bottom-label">

    <div class="w-full rounded-t-xl bg-white p-4 dark:bg-black lg:max-w-lg">

        <div class="min-h-[70dvh] max-h-[70dvh] mt-5 flex flex-col px-3">

            @* Header. *@
            <div class="mt-5 flex w-full flex-col items-center justify-center">

                <svg class="h-10 w-10 fill-current-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64H240l-10.7 32H160c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H346.7L336 416H512c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM512 64V352H64V64H512z"/></svg>

                <label class="mt-2 text-xl font-bold dark:text-white">Dispositivos</label>

            </div>

            @* Componentes. *@
            <div id="close-all-all" class="flex-1 UIScroll mt-2 h-full gap-3 overflow-y-auto p-0.5">

                @if (DevicesList == null || DevicesList.Response == Responses.IsLoading)
                {
                    <div class="border-2 mt-3 flex w-full items-center justify-center rounded-lg border-dashed border-zinc-300 py-7 dark:border-gray-400">
                        <LIN.Contacts.Shared.Components.CircleLoader></LIN.Contacts.Shared.Components.CircleLoader>
                    </div>
                }
                else if (DevicesList.Response != Responses.Success)
                {
                    <div class="border-2 mt-3 flex w-full items-center justify-center rounded-lg border-dashed border-zinc-300 py-10 dark:border-gray-400">
                        <label class="text-zinc-400 dark:text-gray-200">Hubo un error</label>
                    </div>
                }
                else if (DevicesList.Models.Count <= 0)
                {
                    <div class="border-2 mt-3 flex w-full items-center justify-center rounded-lg border-dashed border-zinc-300 py-10 dark:border-gray-400">
                        <label class="text-zinc-400 dark:text-gray-200">Sin dispositivos</label>
                    </div>
                }
                else
                {
                    @foreach (var e in DevicesList.Models)
                    {
                        <LIN.Contacts.Shared.Components.DeviceControl Model="e" OnClick="OnInvoke" />
                    }
                }

            </div>

            @* Obtener dispositivos. *@
            <div class="mb-2 mt-2 flex w-full items-end justify-center gap-2 self-end">
                <button @onclick="GetDevices" type="button" class="w-full rounded-lg bg-current-500 px-3 py-2 text-center text-sm font-medium text-white hover:bg-current-600 focus:ring-4 focus:outline-none focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Actualizar</button>
                <button id="btn-close-@_id" type="button" class="w-full rounded-lg bg-current-500 px-3 py-2 text-center text-sm font-medium text-white hover:bg-current-600 focus:ring-4 focus:outline-none focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Aceptar</button>
            </div>

        </div>

    </div>
</div>
